<div class="container">
    <section id="searchActions">
        <h1>Feed</h1>
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="searchitem">
                    <input type="text" placeholder="Enter keyword..." [(ngModel)]="searchKey">
                    <button type="button" (click)="fetchData(searchKey, sortKey)">Search</button>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="sortitems">
                    <select id="sortfield" [(ngModel)]="sortKey" (change)="fetchData(searchKey, sortKey)">
                        <option value="" disabled>Sort by : </option>
                        <option value="sortBy=name&orderBy=asc">Title <small>(A-Z)</small></option>
                        <option value="sortBy=name&orderBy=desc">Title <small>(Z-A)</small></option>
                        <option value="sortBy=dateLastEdited&orderBy=asc">Date Last Edited <small>(Old-New)</small>
                        </option>
                        <option value="sortBy=dateLastEdited&orderBy=desc">Date Last Edited <small>(New-Old)</small>
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div style="margin-top: 20px">
            Showing : {{pager.startIndex >= 0 ? pager.startIndex+1 : 0}} -
            {{pager.endIndex >= 0 ? pager.endIndex+1 : 0}} of
            {{pager.totalItems}} records
        </div>
    </section>
    <section id="cardSection">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6" *ngFor="let item of searchData">
                <app-card [cardData]="item"></app-card>
            </div>

        </div>
    </section>
    <section id="tableSection">
        <div class="row">
            <app-table [tableData]="searchData"></app-table>
        </div>

    </section>
    <div style="text-align: center;">
        <div>
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">
                        <<</a> </li> <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(pager.currentPage - 1)">
                                <</a> </li> <li *ngFor="let page of pager.pages"
                                    [ngClass]="{active:pager.currentPage === page}">
                                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">></a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">>></a>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="alert alert-warning alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
</div>