<div class="container">
    <section id="searchActions">
        <h1>Feed</h1>
        <div class="row">

            <div class="col-xl-6 col-md-6 col-sm-6">
                <input type="text" placeholder="Search" (keyup)="fetchData(searchKey, sortKey)" [(ngModel)]="searchKey">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">

                <label for="sortfield">Sort by : </label>
                <select id="sortfield" [(ngModel)]="sortKey" (change)="fetchData(searchKey, sortKey)">
                    <option value="sortBy=name&orderBy=asc">Name <small>Ascending</small></option>
                    <option value="sortBy=name&orderBy=desc">Name <small>Descending</small></option>
                    <option value="sortBy=name&orderBy=asc">Date Last Edited <small>Ascending</small></option>
                    <option value="sortBy=dateLastEdited&orderBy=desc">Date Last Edited <small>Descending</small>
                    </option>
                </select>
            </div>
        </div>
        <div style="margin-top: 20px">
            Showing : {{pager.startIndex >= 0 ? pager.startIndex : 0}} - {{pager.endIndex >= 0 ? pager.endIndex : 0}} of
            {{pager.totalItems}} records
        </div>
    </section>
    <section id="cardSection">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6" *ngFor="let item of searchData">
                <app-card [cardData]="item"></app-card>
            </div>
            
        </div>
        </section>
        <section id="tableSection">
            <div class="row">
                <app-table [tableData]="searchData"></app-table>
            </div>

        </section>
        <div style="text-align: center;">
            <div>
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">
                            <<</a> </li> <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(pager.currentPage - 1)">
                                    <</a> </li> <li *ngFor="let page of pager.pages"
                                        [ngClass]="{active:pager.currentPage === page}">
                                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">></a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">>></a>
                    </li>
                </ul>
            </div>

        </div>
        </div>